.content {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;

    width: 50vw;
    overflow-y: scroll;
    height: 90vh;
}

.content::-webkit-scrollbar {
    display: none;
}


/*Text*/
.text_title {
    
    padding: 10px 0px 20px 0px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;

    text-align: center;
}

.text_content {

    position: relative;
    padding-bottom: 2.5%;
    
    max-width: 50vw;
    text-align: justify;

    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text_content img {
    max-width: 100%;
    max-height: 100%;
}

/*Text Navbar*/
.text_navbar {


    position: absolute;


    left: 0px;
    top: 10vh;


    z-index: 1;

    height: 90vh;
    width: 15vw;


    box-sizing: border-box;

    background-color: rgb(48, 48, 48);
    color: rgb(92, 116, 92);

    text-align: center;

    overflow: hidden;

    animation-name: expand_text_navbar;
    animation-duration: 0.5s;
}

@keyframes expand_text_navbar {
    from {
        width: 2.5vw;
    }
    to {
        width: 15vw;
    }
}


.text_navbar_title {

    margin-top: 10px;
    margin-bottom: 10px;

    color: rgb(184, 184, 184);

    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;

}

.text_entry, .text_entry_selected {

    padding: 8px 0.5vw 8px 0.5vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    width: 14vw;

    user-select: none;
}

.text_entry::-webkit-scrollbar, .text_entry_selected::-webkit-scrollbar {
    display: none;
}

.text_entry:hover, .text_entry_selected {

    background-color: rgb(64, 64, 64);
    color: rgb(184, 184, 184);
    cursor: default;

    animation-name: color_fade;
    animation-duration: 0.5s;
}


@keyframes color_fade {
    from {
        color: rgb(92, 116, 92); 
    }
    to {
        color: rgb(184, 184, 184);
    }
}

.navbar_extender {

    position: absolute;
    text-align: center;

    top: 55vh;
    transform: translateY(-50%);

    padding: 5px 5px 5px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 7.5vh;

    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    box-sizing: border-box;
    border: solid;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 3px;

    background-color: rgb(48, 48, 48);
    border-color: rgb(92, 116, 92);
    color: rgb(184, 184, 184);

    user-select: none;
}

.navbar_extender_active {
    left: 15vw;

    animation-name: expand_navbar_extender;
    animation-duration: 0.5s;
}

.navbar_extender:hover {
    box-shadow: 2px 2px 5px rgb(92, 116, 92);

}

@keyframes shadow_fade {
    from {
        box-shadow: 0px 0px 0px rgb(92, 116, 92);
    }
    to {
        box-shadow: 2px 2px 5px rgb(92, 116, 92);
    }
}

@keyframes expand_navbar_extender {
    from {
        left: 2.5vw;
    }
    to {
        left: 15vw;
    }
}

