.content {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;

    width: 50%; 
    height: 90vh;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}


/*Text*/
.text_title {
    
    padding: 10px 0px 20px 0px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;

    text-align: center;
}

.text_content {
    
    text-align: justify;
    white-space: pre-line;

    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Text Navbar*/
.text_navbar {


    position: absolute;
    left: 0px;

    height: 90vh;
    width: 17.5%;
    background-color: rgb(48, 48, 48);

    color: rgb(92, 116, 92);

    text-align: center;
}

.text_navbar_title {

    margin-top: 10%;

    color: rgb(184, 184, 184);

    user-select: none;

    padding: 5px 0px 10px 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;

}

.text_entry, .text_entry_selected {

    padding: 4px 10px 4px 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;


    user-select: none;
}


.text_entry:hover, .text_entry_selected {

    background-color: rgb(64, 64, 64);
    color: rgb(184, 184, 184);
    cursor: default;

    animation-name: color_fade;
    animation-duration: 0.5s;
}


@keyframes color_fade {
    from {
        color: rgb(92, 116, 92); 
    }
    to {
        color: rgb(184, 184, 184);
    }
}
