body {
    padding: 0px;
    margin: 0px;

    background-image: url("background.jpg");
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {

    position: relative;
    padding: 0.5% 0px 0.5% 0px;

    height: 10vh;

    display: flex;
    justify-content: center;

    user-select: none;

    background-color: rgb(32, 32, 32);

    box-sizing: border-box;


}


.ref, .ref_selected {

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 5% 0px 5%;
    padding: 0.5% 2.5% 0.5% 2.5%;

    width: 20vw;
    box-sizing: border-box;

    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;

    border-top: solid;
    border-bottom: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(92, 105, 116);

}


@keyframes color_fade {
    from {
        color: rgb(92, 105, 116); 
    }
    to {
        color: rgb(184, 184, 184);
    }
}

.ref_selected, .ref:hover {
    animation-name: color_fade;
    animation-duration: 0.5s;

    color: rgb(184, 184, 184);
}

.ref_selected {
    border-top-color: rgb(92, 105, 116);
    border-bottom-color: rgb(92, 105, 116);
}
